<!DOCTYPE html>
<html>

<head style="height:100%">
    <title><%= tutorial.coursecode + " " + tutorial.coursename %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link href="/stylesheets/tutorial.css" rel="stylesheet">

	<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.5.0/fabric.min.js'></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>

    <script type='text/javascript' src='/javascripts/tutorial.js'></script>
</head>

<!-- JavaScript placed at the end of the document so the pages load faster -->

<script src="/javascripts/bootstrap.min.js"></script>
<!-- <script src="/javascripts/UIControllers/SocketController.js"></script> -->
<body>
    <%- include components/navbar.ejs %>
    <div class="tutorial-main-content">
        <%- include components/presentation.ejs %>
        <div class="right-panel">
            <%- include components/chatbox.ejs %>
            <%- include components/groupInfo.ejs %>
        </div>
    </div>

    <div class="disconnected-black-cover">

    </div>
    <div class="disconnected-notification">
        <div class="disconnection-deer-container">
            <img class="disconnection-deer-img" src="/images/UIElements/disconnection-deer.png">
        </div>

        <div class="disconnection-text-container">
            <h4 class="disconnection-text">
                You have been disconnected from this tutorial session.
                This may be due to the following reasons:
                <br><br>
                - The session has been closed by the tutor.
                <br>
                - Our server has encountered issues.
                <br>
                - Your Internet connection is not stable.
                <br><br>
                Please close this page and try again.
            </h4>
        </div>
    </div>

<script>
    var tutorialID = "<%=roomId %>";
    window.tutorial.init(tutorialID);

    //$('.disconnected-black-cover').hide();
    //$('.disconnected-notification').hide();

    function exitConfirmation() {
        return 'You are leaving this tutorial session.';
    }
    window.onbeforeunload = exitConfirmation;

    $("#exit").click(function(){
        window.close();
    });

</script>
</body>
</html>