<!DOCTYPE html>
<html>

<head style="height:100%">
    <title>UI Layout-1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">

</head>

<!-- JavaScript placed at the end of the document so the pages load faster -->
<script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.0.min.js'></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="javascripts/UIControllers/SocketController.js"></script>

<body style="height:100%">
<div class="container-fluid">
    <%- include navbar.ejs %>
</div>

<div class="container-fluid">
    <div class="col-md-8 col-lg-8">
        <%- include whiteboardAndSlidesArea.ejs %>

    </div>
    <div style="background-color:lightgrey" class="col-md-1 col-lg-1">
        <%- include whiteboardFunctions.ejs %>


    </div>
    <div style="background-color:lightslategrey" class=" col-md-3 col-lg-3">
        <%- include userList.ejs %>

    </div>
</div>

<div class="container-fluid">
    <div style="background-color:lightgrey" class="col-md-8 col-lg-8">
        <%- include chatBox.ejs %>
    </div>
    <div style="background-color:grey" class="col-md-4 col-lg-4">
        <%- include uploadAndVoiceChat.ejs %>

    </div>
</div>
</body>

</html>